body {
    font-family: Courier New;
    background-color: burlywood;
    text-align: center;
  }
  
.background{
    background-color: whitesmoke;
    border-radius: 3%;
    width:500px;
    height:650px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}
