body {
  font-family: Gill Sans, sans-serif;
  background-color: rosybrown;
  text-align: center;
}

.imageicon{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.link{
  margin-top: 5%;
  margin-bottom: 5%;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 25px;
  cursor: pointer;
}